<h1>All Kittens</h1>
<ul>
  <%@kittens.each do |kitten|%>
   <li> <%=link_to kitten.name,kitten%> (<%=link_to "Delete Kitten",kitten_path(kitten.id), data:{"turbo-method": :delete}%>)</li>
  <%end%>
</ul>
<%=link_to "Create kitten",new_kitten_path%>